<div class="container py-5">
  <h1 class="mb-4">{{ 'features.title' | translate }}</h1>
  <div class="row g-4">
    <div class="col-md-6" *ngFor="let feature of features">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-3">
            <i class="bi {{ feature.icon }} fs-4 text-primary me-2"></i>
            <h5 class="card-title mb-0">{{ 'features.items.' + feature.key + '.title' | translate }}</h5>
          </div>
          <p class="card-text">{{ 'features.items.' + feature.key + '.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div> 